GW_PUBLIC_BIND=0.0.0.0:8002
GW_TLS_CERT=/certs/public.crt
GW_TLS_KEY=/certs/public.key
GW_LEGACY_URL=https://legacy:8002
GW_LEGACY_CA=/certs/ca.crt
GW_OPS_BIND=127.0.0.1:9000
GW_ACTIVE_FAMILIES=
GW_CONNECT_SECONDS=5
GW_IDLE_SECONDS=30
GW_TOTAL_SECONDS=120
GW_DRAIN_SECONDS=30
GW_LOG_LEVEL=info
